<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <div class="columnas">
        <div class="columna">
          <!-- Utiliza la variable 'product' que viene del controlador -->
          <img class="imgDetalle" src="/img/<%= product.img %>">
        </div>
        <div class="columna">
          <div class="contenedorOpciones">
            <div class="formOpciones">
              <h4 class="tituloProducto"><%= product.name %></h4>
              <h4 class="price">$<%= product.price %></h4>
              <div class="cant">
                <h4>Cantidad:</h4>
                <input type="number" min="1" max="10" placeholder="1">
              </div>
              <div class="tallesContenedor">
                <% product.sizes.forEach(size => { %>
                  <div class="talleBox"><h4><%= size %></h4></div>
                <% }) %>
              </div>
              <div class="promocionesBancarias">
                <h4>
                  Promociones Bancarias <i class="fa-solid fa-credit-card"></i>
                </h4>
                <h5>3 cuotas fijas de $16.700</h5>
                <h5>6 cuotas fijas de $8350</h5>
                <h5>12 cuotas fijas de $4200</h5>
              </div>
              <button class="btnDetail" type="submit">
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>


