<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <section class="form-register">
        <form
          action="/edit/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <p>Actualizar producto</p>
          <div>
            <input
              class="ctrl"
              type="text"
              name="name"
              id="name"
              placeholder="Nombre del producto"
              value="<%= product.name %>"
              required
            />
          </div>
          <div>
            <input
              type="text"
              class="ctrl"
              name="description"
              id="description"
              placeholder="Descripción del producto"
              value="<%= product.description %>"
              required
            />
          </div>
          <div>
            <input
              class="ctrl"
              type="number"
              name="price"
              id="price"
              placeholder="Precio"
              value="<%= product.price %>"
              required
            />
          </div>
          <div>
            <label><input type="radio" name="sizes" value="S" <%= product.sizes.includes('S') ? 'checked' : '' %>/> S</label>
            <label><input type="radio" name="sizes" value="M" <%= product.sizes.includes('M') ? 'checked' : '' %>/> M</label>
            <label><input type="radio" name="sizes" value="L" <%= product.sizes.includes('L') ? 'checked' : '' %>/> L</label>
            <label><input type="radio" name="sizes" value="XL" <%= product.sizes.includes('XL') ? 'checked' : '' %>/> XL</label>
          </div>
          
          <div>
            <select name="category" id="category" class="ctrl">
              <option value="" disabled>Selecciona una categoría</option>
              <option value="blusas" <%= product.category === 'blusas' ? 'selected' : '' %>>Blusas</option>
              <option value="vestidos" <%= product.category === 'vestidos' ? 'selected' : '' %>>Vestidos</option>
              <option value="pantalones" <%= product.category === 'pantalones' ? 'selected' : '' %>>Pantalones</option>
              <option value="abrigos" <%= product.category === 'abrigos' ? 'selected' : '' %>>Abrigos</option>
            </select>
          </div>
          <div class="imgProduct">
            <p>Imagen:</p>
            <input type="file" name="img" id="img" required />
          </div>

          <div class="btnForm">
            <button type="reset">Borrar</button>
            <button type="submit">Actualizar producto</button>
          </div>
        </form>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
