<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <div class="sliderContainer">
        <!-- Inicio slider -->
        <div class="sliderFrame">
          <ul>
            <li>
              <img src="img/slider1.jpg" alt="slider" />
            </li>
            <li>
              <img src="img/slider2.jpg" alt="slider" />
            </li>
            <li>
              <img src="img/slider3.jpg" alt="slider" />
            </li>
            <li>
              <img src="img/slider4.jpg" alt="slider" />
            </li>
          </ul>
        </div>
      </div>
      <!-- Fin slider -->
      <div class="mainCarrousel">
        <div class="carrousel-list">
          <div class="carrousel-track">
        
            <% listProducts.forEach(product=> { %>
            <div class="carrousel">
              <div>
                <a href="/products/detail/<%= product.id %>">
                  <img src="/img/<%= product.img %>" alt="<%= product.name %>" />
                  <h4><%= product.name %></h4>
                  <h6>$<%= product.price %></h6>
                </a>
                <a href="/edit/<%= product.id %>">
                  <button>Editar</button>
                </a>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
