<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

      <main class="main-content">
        <section class="form-register">

          <p>REGISTRATE</p>
          <form method="POST" action="/users/register" enctype="multipart/form-data">
            <div class="form-group">
              <!-- nombre  -->
              <label class="lbl-reg" for="firstName">Nombre:</label>
              <input 
                    value="<%= locals.oldData ? oldData.firstName : null %>" 
                    class="ctrl <%= locals.errors && errors.firstName ? 'is-invalid' : null %>" 
                    type="text" 
                    name="firstName" 
                    id="firstName" 
                    placeholder="Ingrese su Nombre"  />
              <% if (locals.errors && errors.firstName) { %>
                <p class="error-msg">
                  <%= errors.firstName.msg %>
                </p>
                <% } %>
            </div>


            <!-- Apellido -->
            <div class="form-group">
              <label class="lbl-reg" for="lastName">Apellido:</label>
              <input 
                    value="<%= locals.oldData ? oldData.lastName : null %>" 
                    class="ctrl <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" 
                    type="text" 
                    name="lastName" 
                    id="lastName" 
                    placeholder="Ingrese su Apellido" />
              <% if (locals.errors && errors.lastName) { %>
                <p class="error-msg">
                  <%= errors.lastName.msg %>
                </p>
                <% } %>
            </div>
            <!-- <input class="ctrl" type="text" name="dni" id="dni" placeholder="Ingrese su DNI" /> -->
            <!-- <input class="ctrl" type="text" name="tel" id="tel" placeholder="Ingrese su Telefono" /> -->

            <!-- email  -->
            <div class="form-group">
              <label class="lbl-reg" for="email">Email:</label>
              <input
                    value="<%= locals.oldData ? oldData.email : null %>" 
                    class="ctrl  <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Ingrese su @Mail" />
              <% if (locals.errors && locals.errors.email) { %>
                <p class="error-msg">
                  <%= locals.errors.email.msg %>
                </p>
                <% } %>
            </div>
            <!-- password  -->
            <div class="form-group">
              <label class="lbl-reg" for="password">Contraseña:</label>
              <input 
                  value="<%= locals.oldData ? oldData.password : null %>" 
                  class="ctrl <%= locals.errors && errors.password ? 'is-invalid' : null %>" 
                  type="password"
                  name="password" 
                  id="password" 
                  placeholder="Ingrese su Contraseña" />
              <% if (locals.errors && errors.password) { %>
                <p class="error-msg">
                  <%= errors.password.msg %>
                </p>
                <% } %>
            </div>
            <input class="ctrl" type="hidden" name="category" id="category" value="cliente"/> 
            <!-- imagen   -->
            <div class="form-group">
              <label class="lbl-reg" for="image">Imagen:</label>

              <input class="ctrl" type="file" name="image" id="image" placeholder="seleccione una imagen" />
              <% if (locals.errors && locals.errors.image) { %>
                <p class="error-msg">
                  <%= locals.errors.image.msg %>
                </p>
              <% } %>
            </div>
            <!-- <p>ESTOY DE ACUERDO <a href="#">TERMINOS Y CONDICIONES</a></p> -->
            <input class="btn" type="submit" value="Crear cuenta" />
          </form>

          <p>Ya tienes una cuenta? <a href="/login">Ingresá aquí</a></p>
        </section>
      </main>
      <%- include("../partials/footer.ejs") %>
  </body>

</html>