<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <div class="columnas">
        <div class="columna">
          <img class="imgDetalle" src="/img/<%= product.img %>">
        </div>
        <div class="columna">
          <div class="contenedorOpciones">
            <div class="formOpciones">
              <h4 class="tituloProducto"><%= product.name %></h4>
              <!-- <h4 class="price">Categoria: <%= product.category %></h4> -->
              <h4 class="price">$<%= product.price %></h4>
              <div class="cant">
                <h4>Cantidad:</h4>
                <input type="number" min="1" max="<%= product.quantity %>" placeholder="1">
              </div>
              <!-- <div class="tallesContenedor">
                <% if (Array.isArray(product.sizes)) { %>
                  <% product.sizes.forEach(size => { %>
                    <div class="talleBox" >
                      <h4><%= size %></h4>
                    </div>
                  <% }) %>
                <% } else { %>
                  <p>No hay tallas disponibles</p>
                <% } %>
              </div> -->

              <div class="tallesContenedor">

                <% if (product.sizes && typeof product.sizes === 'string') { %>
                  <% try { %>
                    <% const sizesArray = JSON.parse(product.sizes); %>
                    <% if (Array.isArray(sizesArray) && sizesArray.length > 0) { %>
                      <h4>Talles:</h4>
                      
                        <% sizesArray.forEach(size => { %>
                          <div class="talleBox" >
                          <h4>[<%= size %>]</h4>
                          </div>
                        <% }); %>
                      
                    <% } %>
                  <% } catch (error) { %>
                    <p>Error parsing sizes data</p>
                  <% } %>
                <% } %>
              </div>

              <div class="promocionesBancarias">
                <h4>
                  Promociones Bancarias <i class="fa-solid fa-credit-card"></i>
                </h4>
                <h5>3 cuotas fijas de $16.700</h5>
                <h5>6 cuotas fijas de $8350</h5>
                <h5>12 cuotas fijas de $4200</h5>
              </div>
              <button class="btnDetail" type="submit">
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>


